// $color : steelblue;

// body{
//     background-color: $color;
// }


// About
.color-card{
    background-color: #0B2447;
}
.height-card{
    height: 92vh;
}
.about1{
    left: 50px;
    bottom:50px;
}
.about2{
    right: 50px;
    top : 50px;
}